<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
<!-- menu -->
    <%- include('./partials/header') %>
  
    <%- include('./partials/navMenu') %>

    <div class="giftcards-que-amamos">
      <h3>Gift Cards que amamos</h3>
    </div>
    <% produtos.forEach((produtos)=> { %>
    <section class="produtos">
      
      <div class = "produtos-interno">
      <a href="/produtos/details/<%= produtos.id %>">
        <img src="/images/produtos/<%= produtos.imagem %>" alt="imagem do produto">
      </a>
      </div>
    </section> 
    <% }) %>
  
    <%- include('./partials/footer') %>
</body>
</html>