<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>810enterPrise - Produto Interno</title>

    <!-- Vendor Script -->
   
  <link rel='stylesheet' href='./stylesheets/style.css' />
  <link rel='stylesheet' href='../stylesheets/produtoInterno.css' />
  <link rel='stylesheet' href='../stylesheets/footer.css' />
</head>

<body>
    
    <div class="container">
        <div class="imgBx">
          
            <img src="/images/produtos/<%=produto.imagem%>" alt="<%= produto.nome %>">
        </div>
        <div class="details">
            <div class="content">
                <h2><%= produto.nome %><br>
                    
                </h2>
                <p>
                    <%= produto.descricao%>
                </p>
               
                <h3>Rs. <%=produto.preco%></h3>

                <button type="submit">Comprar agora</button>

            </div>

           
            </div>  <div class="configurarProdutos">
                <a href="/productToCreate">CRIAR</a>
                <a href="/productToEdit/<%= produto.id %>?_method=PUT">EDITAR</a>
                <a href="/productToDelete/<%= produto.id %>">DELETAR</a>
                
    <div class="alinhar">
    <%- include('./partials/footer') %></div></div>
        </div> 
        
      
        </body>

</html>