<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <main>
      <!-- menu -->
    <%- include('./partials/header') %>
  
    <%- include('./partials/navMenu') %>

    <section>
      <div class="giftcards-que-amamos">Gift Cards que amamos</div>

      <% produtos.forEach((produtos) => { %>
        <div class="giftcards-produtos">
            <a href="/produtos/<%= produtos.id %>">
              <img src="/images/produtos/<%= produtos.image %>" alt="imagem do produto">
            </a>
        </div>
      <% }) %>

    </section>

    <%- include('./partials/footer') %>

    </main>
</body>
</html>