<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', {pageName: 'Produtos'}) %>
<body>
<!-- menu -->
    <%- include('./partials/header') %>
  
    <%- include('./partials/navMenu') %>

    <div class="giftcards-que-amamos">
      <h3>Gift Cards que amamos</h3>
    </div>
    
     <section class="produtos">
      <% for( let i = 0; i < produtos.length; i++ ) { %>
      <div class = "produtos-interno">
        <div class="hove-me">
        <a href="/produtoInterno/<%= produtos[i].id %>">
        <img src="./images/produtos/<%= produtos[i].imagem %>" alt="<%= produtos[i].name %>">
      </div>
      </a>
      </div>
        <% } %>
    </section> 
    <%- include('./partials/footer') %>
</body>
</html>